<h2>About HandyCAT</h2>
<p>HandyCAT is a modular translation interface that is easy to extend</p>

<h2>Features</h2>
<ul>
  <li>Component-oriented design</li>
  <li>Microservice architecture</li>
  <li>State of the art Computer-Aided translation functionality</li>
  <li>Completely open source!</li>
</ul>

<p>For more information, including setup and configuration instructions, bug reports or feature requests head over to <a href="https://github.com/chrishokamp/handycat">GitHub</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/chrishokamp/handycat">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://github.com/chrishokamp">The Author</a>
  </li>
</ul>
